<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    <title>Admin panel</title>
</head>
<body>
<header>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <div class="collapse navbar-collapse" id="user">
                        <ul class="navbar-nav mr-auto">
                            <a class="navbar-brand font-weight-bold ml-2 mr-1" th:text="${user.getEmail()}">E-mail</a>
                            <a class="navbar-brand mr-1">with roles:</a>
                            <a class="navbar-brand mr-1" th:text="${#strings.listJoin(user.getRoles(), ' ')}">role</a>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-right" th:href="@{/logout}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 sidebar-sticky pt-4 px-0 bg-white d-flex flex-column">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light pt-3 d-flex flex-column">
            <div class="tab-content vh-100">
                <div class="tab-pane fade show active pt-3 px-4" id="adminPanel">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#createUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getFirstName()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${#strings.listJoin(user.getRoles(), ' ')}"></td>
                                            <td>
                                                <a class="btn btn-info" role="button" data-toggle="modal"
                                                   data-target="#edit"
                                                   th:attrappend="data-target=${user.getId()}">Edit</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" role="button" data-toggle="modal"
                                                   data-target="#delete" th:attrappend="data-target=${user.getId()}">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="createUser">
                            <div class="form-group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body text-center">
                                            <div class="form justify-content-center mx-auto col-3">
                                                <form method="post" th:action="@{/admin/new}" th:object="${create}">
                                                    <div class="form-group">
                                                        <label class="container-fluid font-weight-bold m-0"
                                                               for="firstName">First name</label>
                                                        <input class="form-control" th:field="*{firstName}" type="text"
                                                               name="firstName" id="firstName" required autofocus>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="container-fluid font-weight-bold m-0"
                                                               for="lastName">Last name</label>
                                                        <input class="form-control" th:field="*{lastName}" type="text"
                                                               name="lastName" id="lastName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="container-fluid font-weight-bold m-0" for="age">Age</label>
                                                        <input class="form-control" th:field="*{age}" type="number"
                                                               name="age" id="age">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="container-fluid font-weight-bold m-0" for="email">Email</label>
                                                        <input class="form-control" th:field="*{email}" type="email"
                                                               name="email" id="email" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="container-fluid font-weight-bold m-0"
                                                               for="password">Password</label>
                                                        <input class="form-control" th:field="*{userPassword}"
                                                               type="password" name="password" id="password" required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="container-fluid font-weight-bold m-0" for="roles">Role</label>
                                                        <select class="form-control" th:field="*{roles}" name="roles"
                                                                id="roles" required multiple size="2">
                                                            <option th:value="'ROLE_USER'">USER</option>
                                                            <option th:value="'ROLE_ADMIN'">ADMIN</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-success btn-lg mt-3">Add new
                                                        user
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade pt-3 px-4" id="userPanel">
                    <h1>User information-page</h1>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${user.getId()}">ID</td>
                                    <td th:text="${user.getFirstName()}">First Name</td>
                                    <td th:text="${user.getLastName()}">Last Name</td>
                                    <td th:text="${user.getAge()}">Age</td>
                                    <td th:text="${user.getEmail()}">Email</td>
                                    <td th:text="${#strings.listJoin(user.getRoles(), ' ')}">Role</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:each="edit : ${users}">
    <div class="modal fade" id="edit" data-backdrop="static" th:attrappend="id=${edit.getId()}" tabindex="-1"
         role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form th:method="PATCH" th:action="@{/admin/{id}(id = ${edit.getId()})}" th:object="${edit}">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls col-md-6 mx-auto">
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="id">ID</label>
                                    <input class="form-control" type="number" name="id" id="id" th:value="*{id}"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="editFirstName">First name</label>
                                    <input class="form-control" type="text" name="firstName" id="editFirstName"
                                           th:value="*{firstName}">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="editLastName">Last name</label>
                                    <input class="form-control" type="text" name="lastName" id="editLastName"
                                           th:value="*{lastName}">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="editAge">Age</label>
                                    <input class="form-control" type="number" name="age" id="editAge" th:value="*{age}">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="editEmail">Email</label>
                                    <input class="form-control" type="email" name="email" id="editEmail"
                                           th:value="*{email}">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="editPassword">Password</label>
                                    <input class="form-control" type="password" name="password" id="editPassword"
                                           th:value="*{userPassword}">
                                </div>
                                <div class="form-group mb-4">
                                    <label class="font-weight-bold m-0" for="editRoles">Role</label>
                                    <select class="form-control" name="roles" id="editRoles" th:value="*{roles}"
                                            required multiple size="2">
                                        <option th:value="'ROLE_USER'">USER</option>
                                        <option th:value="'ROLE_ADMIN'">ADMIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:each="delete : ${users}">
    <div class="modal fade" id="delete" data-backdrop="static" th:attrappend="id=${delete.getId()}" tabindex="-1"
         role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form th:method="DELETE" th:action="@{/admin/{id}(id = ${delete.getId()})}" th:object="${delete}">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls col-md-6 mx-auto">
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="deleteId">ID</label>
                                    <input class="form-control" type="number" name="id" id="deleteId" th:value="*{id}"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="deleteFirstName">First name</label>
                                    <input class="form-control" type="text" name="firstName" id="deleteFirstName"
                                           th:value="*{firstName}" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="deleteLastName">Last name</label>
                                    <input class="form-control" type="text" name="lastName" id="deleteLastName"
                                           th:value="*{lastName}" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="deleteAge">Age</label>
                                    <input class="form-control" type="number" name="age" id="deleteAge"
                                           th:value="*{age}" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="deleteEmail">Email</label>
                                    <input class="form-control" type="text" name="email" id="deleteEmail"
                                           th:value="*{email}" disabled>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="font-weight-bold m-0" for="deleteRoles">Role</label>
                                    <select class="form-control" name="roles" id="deleteRoles" size="2" disabled>
                                        <option th:value="'ROLE_USER'">USER</option>
                                        <option th:value="'ROLE_ADMIN'">ADMIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>